.jumbotronback {
    background-image: url("../img/gears.jpg");
    background-size: cover;
    height: 100%;
    border-radius: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #1B1725;
    background-position: center;
    color: #F9EBE0;
    max-width: 1600px;
    height: 600px;
}


.jumbotronback h1,
.jumbotronback p,
.btn-primary {
    color: #F6F1F4;
    filter: none;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;

}


.event-name {
    color: #FFFFFF;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    font-weight: bold;
    font-size: 80px;
}


.card {
    padding: 0;
    margin: 50px;
    border-radius: 30px;
    overflow: hidden;
    max-width: auto;
    display: inline-block;
}

.card img {
    min-height: 500px;
}

.row {
    margin: 100px;
}


.img-btn {
    width: 65%;
    height: 180px;
    background-size: cover;
    background-position: center;
    border: none;
    border-radius: 1rem;
    display: block;
    filter: brightness(0.6);
}

.img-btn:hover {
    filter: brightness(1);
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.856);
}


.card-img-top {
    object-fit: cover;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    max-height: 500px;
}

.second-row-card-img-top {
    height: 400px;
    object-fit: fill;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}


.card-title {
    font-size: 1.5rem;
    font-weight: bold;
}


.card-text {
    font-size: 1rem;
}

.card img {
    object-fit: cover;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.card-body {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 0;
}

.card-header {
    text-align: left;
    font-size: larger;
}

.carousel-item{
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.carousel-item .event-name {
    color: #FFFFFF;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    font-weight: bold;
    font-size: 80px;
}

.card:hover{
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.856);
}

.card:hover .event-name {
    display: none;
}

.card-slider{
   max-width: 85%;
   max-height: 85%;
   background: linear-gradient(ltr,#141117,#1B1725)
}


.custom-border {
    border-right: 2px solid #aaaaaa;
    box-sizing: border-box;
}



h1 {
    color: #F9EBE0;
    font-family:sans-serif;
    justify-content: center;
}


.test-row{
    background: linear-gradient(ltr,#141117,#7855d1)
}


.custom-carousel-control {
    position: relative;
    transform: translateY(20rem);
    width: 40px; 
    height: 80px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

.carousel-control-prev {
    left: 10px;
}

.carousel-control-next {
    right: 10px;
}

@media (max-width: 1000px) {
    .custom-border {
        border: none;
    }

    h1 {
        text-align: center;
    }

    .carousel-item .event-name {
        font-size: 60px;
    }


    .card-header{
        text-align:center;
    }
}